<!DOCTYPE html>
<html>
<head>
  <title>inf134 app</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <script src="/lib/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body style="margin: 0;padding: 0;">
  <nav class="navbar navbar-default" style="
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  ">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        EnlightEarth.me
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% topics.forEach(topic => { %>
          <li><a href="/<%= topic.id %>"><%= topic.label %></a></li>
        <% }) %>
      </ul>
    </div>
  </nav>

  <% if (donut) { %>
  <div class="donut" style="
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: <%= donut.size %>;
    width: <%= donut.size %>;
    background: white;
    border-radius: <%= donut.size %>;
  "></div>
<% } %>
  <% topics.forEach(topic => { %>
    <a href="/<%= topic.id %>" class="<%= topic.id %>" style="
      background: url(<%= topic.img %>) center center / cover no-repeat;
      position: absolute;
      height: 50%;
      width: 50%;
      <%= topic.style %>;
      "></a>
  <% }) %>
</body>
</html>
